.card {
    background: #FEFEFE;
    box-shadow: 0px 1.33333px 11.3333px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    min-width: 360px;
}

.regions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 16px 0;
    height: 140px;
}

.regions span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #262626;
}

.card h5 {
    margin: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #262626;
}

.purple {
    color: #665CD1;
}