/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


#first-container {
  background: url(images/headerImg.jpeg);
  background-size: cover;
  /* background-size: 100% 768px; */
  height: 768px;
}

#header {
  display: flex;
  color: #EBEBEB;
  justify-content: space-between;
  /* gap: 162px; */
  height: 70px;
  align-items: center;
  padding: 0 30px;
}

#logo {
  height: 20px;
}

.menu {
  display: flex;
  /* justify-content: space-between; */
  gap: 100px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Mulish' sans-serif;
  font-style: normal;
}

#web-version {
  background: #665CD1;
  padding: 10px 15px;
  /* width: 200px; */
  border-radius: 45px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F1F0FF;
  /* height: 40px; */
}

/* #languages {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
} */

#select {
  color: white;
  /* padding: 0; */
  margin: 0 0 0 5px;
}

#select-label {
  color: #EBEBEB;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

#lang {
  display: flex;
  align-items: center;
}

.title {
  margin: 159px 0 15px 50px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #EBEBEB;
  width: 509px;
  height: 80px;
}

/* .title {
  -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
}

.title:hover {
  transition: mask-position 2s ease,-webkit-mask-position 2s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
} */


.subtitle {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #EBEBEB;
  width: 509px;
  height: 60px;
  margin-left: 50px;
}

.buttons {
  margin-top: 115px;
  margin-left: 50px;
  display: flex;
  gap: 15px;
}

.web {
  width: 233px;
  height: 40px;
  
  /* Purple/600 */
  
  background: #665CD1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 31px;
  font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Purple/100 */

color: #F1F0FF;
display: flex;
align-items: center;
justify-content: center;
}

.download {

  width: 320px;
height: 40px;

/* Black/600 */

background: #171717;
box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
border-radius: 45px;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Purple/100 */

color: #F1F0FF;
display: flex;
align-items: center;
justify-content: center;
}

#second-container {
  height: 378px;
  padding: 0 50px;
  margin-top: 50px;
}

/* @media (max-width: 1200px) {
  #second-container .row {
    flex-direction: column;
    gap: 5px;
    align-items: center;
    
  }
  #second-container {
    height: fit-content;
  }
} */

.row {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.row-card {
  min-width: 550px;
  width: 45%;
  height: 154px;
  background: #FEFEFE;
  box-shadow: 0px 3.33333px 14.6667px rgba(215, 215, 215, 0.47);
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  overflow: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px
}

h4 {
  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #262626;
}

.card-content div {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #262626;
}

#third-container {
  height: 222px;
  margin-top: 30px;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  
}

#second-container h3 {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #665CD1;
}

.third-container-card {
  display: flex;
  min-width: 569px;
  width: 45%;
}

#purposes {
  min-width: 450px;
  width: 45%;
}

.point {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

/* Black/500 */

color: #262626;
}

#purposes h3 {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #665CD1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16.6px;
}

.info {
  width: 501px;
  margin: 11px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logos {
  display: flex;
  align-items: center;
}

.info h3 {
  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #262626;

}

.to-web {
  height: 40px;
  background: #665CD1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F1F0FF;
  padding: 10px 15px;

}

.cards {
  height: 230px;
  /* width: 100%; */
  margin: 20px 50px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.cards .card {
  background: #FEFEFE;
  box-shadow: 0px 1.33333px 11.3333px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 10px;
  width: 30%;
  min-width: 360px;

  /* width: 360px;
  min-width: 360px; */
  /* max-width: 500px; */
}

.regions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px 0;
  height: 140px;
}

.regions span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
}

.card h5 {
  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #262626;
  
}

.purple {
  color: #665CD1;
}

#fourth-container {
  margin-top: 50px;
}

#fourth-container h3 {
  margin: 0;
  margin-left: 50px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #665CD1;

}


#fourth-container h4 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #171717;
  height: 48px;
  width: 435px;
  margin: 20px 0 0 50px;
}

.fourth-subtitle {
  margin: 10px 0 0 50px;
  width: 538px;
  height: 28px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #7E7E7E;
}

#fourth-container h6 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5A5A5A;
  text-align: center;
  margin: 0;
}

#map {
  display: block;
  margin: 6px auto 20px auto;
}

#statistics {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #665CD1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  width: 270px;
  height: 40px;
  color: #F1F0FF;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;

}

.fifth-container-content {
  display: flex;
  gap: 25px;
  justify-content: center;
}

#fifth-container h3 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #665CD1;
  margin: 0 0 20px 50px;

}

#fifth-container {
  margin: 50px 0;
}


#sixth-container {
  height: 283px;
  background: #F1F0FF;
  padding: 20px 50px;
  margin-bottom: 50px;

}

#sixth-container-row {
  height: 193px;
}

.logo_vertical_triple:hover {
  /* transform: scale(1.1); */
  /* background-color: #665CD1; */
}

#sixth-container-row {
  display: flex;
  justify-content: space-between;
}

.sixth-container-row-card {
  /* width: 260px; */
  height: 193px;
}

#sale {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #665CD1;
  margin-bottom: 19px;
}

#container-seven {
  padding: 0 50px;
  margin-bottom: 50px;
}

.container-seven-card {
  display: flex;
  gap: 33px;
  width: 45%;
  /* width: 540px; */
  background: #FEFEFE;
  box-shadow: 0px 1.33333px 11.3333px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  padding: 10px;

  /* height: 290px; */
}

#container-seven-row {
  display: flex;
  justify-content: space-between;
  /* gap: 100px; */
  /* justify-content: center; */
}

.container-seven-card h4 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #171717;
  margin-bottom: 10px;


}

.container-seven-card .text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

/* Black/500 */

  color: #262626;

}

#container-seven h3 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #665CD1;
  margin: 0;
  margin-bottom: 20px;
}

#container-eight {
  margin-bottom: 50px;
}

.container-eight-card {
  height: 200px;
  width: 220px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* gap: 25px; */
}

#container-eight-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0 50px;
}

.color {
  background-color: #665CD1;
  color: #F1F0FF;
}

.color-light {
  background-color: #F1F0FF;
}

#container-eight-row img {
  width: 71.5px;
  height: 65px;
}

.step-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5px;
  text-align: center;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.step-title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

}

#container-eight h3 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  
  /* Purple/600 */
  
  color: #665CD1;
  margin: 0 0 20px 50px;
  
}

.button {
  transition: 500ms;

}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 500ms;
}

.card-active {
  transition: 500ms;
  
  /* opacity: 0; */

}

.card-active:hover {
  margin-top: -20px;
  cursor: pointer;
  transition: 300ms;
  /* opacity: 1;
  transition-delay: 250ms; */

}

#container-nine {
  height: 689px;
  background: linear-gradient(0deg, rgba(23, 23, 23, 0.8), rgba(23, 23, 23, 0.8)), url(images/background2.jpeg);
  background-size: 90%;
  margin-bottom: 50px;
  background-position: center;
}

#container-nine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 50px;

}

#container-nine h2 {
  margin: 0;
  
}

#bottom-h2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  color: #EBEBEB;
  display: flex;
  align-self: flex-end;
}


.container-nine-content {
  display: flex;
  align-items: center;
}

.container-nine-content-left {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 645px;
}

.container-nine-content-left-text {
  display: flex;
  gap: 25px;
}

.container-nine-content-titles h2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #EBEBEB;
  margin: 0;
  /* margin-bottom: 15px; */
}


.container-nine-content-left h3 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #EBEBEB;
  margin: 15px 0 0 0;
}

.content-title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #EBEBEB;
  margin-bottom: 20px;

}

.container-nine-point {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #EBEBEB;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#container-ten {
  width: 480px;
  height: 315px;
  background: #FEFEFE;
  box-shadow: 0px 3.33333px 14.6667px rgba(215, 215, 215, 0.47);
  border-radius: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  margin-bottom: 50px;
}

#container-ten h3 {
  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #665CD1;
}

#container-ten h5 {
  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #262626;
}

.container-ten-buttons {
  display: flex;
  gap: 25px;
}

.first-button {
  /* padding: 10px 15px; */
  width: 162px;
  height: 40px;
  background: #171717;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F1F0FF;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.second-button {
  width: 225px;
  height: 40px;
  background: #665CD1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F1F0FF;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.container-ten-info {
  font-family: 'Mulish';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;

/* Black/400 */

color: #5A5A5A;
}

#container-eleven {
  height: 235px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url(images/background3.jpeg);
  background-size: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 15px; */
  padding: 25px 0;
  margin-bottom: 50px;
}

#container-eleven h3 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #F1F0FF;
  margin: 0;
}

#container-eleven h5 {
  font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #F1F0FF;
margin: 0;

}

#container-eleven-button-browser {
  width: 306px;
  height: 40px;
  background: #665CD1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F1F0FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-eleven-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.container-eleven-button {
  width: 319px;
height: 40px;
background: #171717;
box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
border-radius: 45px;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #F1F0FF;
display: flex;
justify-content: center;
align-items: center;
}

#footer {
  padding: 15px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-row-card {
  display: flex;
  align-items: flex-start;
  gap: 5px
}

.footer-row-card-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
 
}

.footer-row-card-last-content {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  
  
  /* Black/500 */
  
  color: #262626;
}



.footer-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */


/* Black/400 */

color: #5A5A5A;
}

.footer-card-content div {
  display: flex;
  align-items: center;
  gap: 12px
}

#footer-bottom {
  font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;
/* identical to box height */

text-align: center;

/* Black/300 */

color: #7E7E7E;
margin: auto;
}

.first-div {
  font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
color: #262626;
padding-top: 3px;

}

.line-1, .line-2 {
  display: flex;
  justify-content: space-between;
}

.min-price {
  font-family: 'Mulish';
font-style: normal;
font-weight: 300;
font-size: 10px;
line-height: 13px;
/* identical to box height */


/* 50_shades_of_MOOW/400 */

color: #5A5A5A;
vertical-align: top;

  
}

.views {
  font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 14px;
/* identical to box height */


/* 50_shades_of_MOOW/400 */

color: #5A5A5A;
}

.line-1 {
  font-family: 'Mulish';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */


/* Black/500 */

color: #262626;
}

#footer-to-web {
  width: 200px;
height: 40px;

/* Purple/600 */

background: #665CD1;
box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
border-radius: 45px;
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Purple/100 */

color: #F1F0FF;
display: flex;
justify-content: center;
align-items: center;
}


.link {
  text-decoration: none;
  color: #F1F0FF;
}

 







