svg path:hover {
    fill: #9D97E2;
    cursor: pointer;
}

.hi {
    height: 100px;
    width: 100px;
    background-color: #665CD1;
    margin: 20px;
    transition: all 400ms ease-out;
    border: 1px solid black;
}

.hi:hover {
    /* transform: scale(1.2);
    transition: 500ms; */

    /* transform: rotate(60deg);
    transition: all 400ms;
    background-color: aqua; */

    /* transform: scaleY(1.5) */

    transform:  rotateX(-20deg);
    box-shadow: 10px 5px 5px green;
}

.visible {
    width: 260px;
    height: 93px;
    background: #FEFEFE;

    border: 2px solid #665CD1;
    border-radius: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

.hidden {
    display: none;
}


/* 665CD1 */
/* 9D97E2 */